{% extends 'base.html' %}

{% block title %}Rólunk? :D {% endblock %}

{% block content %}
  <!-- Bootstrap grid példa -->
  <div class="row">
    <div class="col-md-8">
      <h1>Ez már nem a fő oldal! /remélem/</h1>
      <p>
        <section>
          <table>
            <tr>
              <th>Azonosító</th>
              <th>Adat neve:</th>
            </tr>
            <tr>
               <td>1</td> 
               <td>Alma</td>
            </tr>
            <tr>
               <td>2</td> 
               <td>Körte</td>
            </tr>
          </table>
        </section>
      </p>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
    </div>
  </div>
{% endblock %}
