{% extends 'base.html' %}

{% block title %}Alkatrészek karbantartása{% endblock %}

{% block content %}
<body>
    <div class="container">
        <section>
            <h3>Csoport hozzáadás</h3>
            <form action=" {% url 'raktar:addAlkatreszCsoport' %} " method="post">
                {% csrf_token %}
                <label>
                    <p>Alkatrészcsoport:
                        <input type="text" name="ujAlkatreszCsoport" id="ujAlkatreszCsoport">
                        <input type="submit" value="Hozzáad">

                    </p>
                </label>
            </form>
        </section>
    </div>
        <section>
            <h3>Alkatrészcsoprtok :</h3>
            <table>
            <tr>
                <th>Id:</th>
                <th>Csoport</th>
                <th>Törlés</th>
            {% for i in alkatreszcsoportok %}
            </tr>
                <td>{{i.id}}</td>
                <td>{{i.alkcsop}}</td>
                <td>  <!-- Elegáns megoldás egy mini ürlappal !-->
                    <form method="post" action="{% url 'raktar:deleteAlkatreszCsoportById' i.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Törlés</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </table>
        </section>
{% endblock %}