{% extends 'base.html' %}

{% block title %}Alkatrészek karbantartása{% endblock %}

{% block content %}
    <section>
            <h3>Alkatrész hozzáadás:</h3>
            <form action=" {% url 'raktar:addAlkatresz' %} " method="post">
                {% csrf_token %}
                <label>                    
                        <label >
                            Cikkszám: <input type="text" name="ujCikkszam" id="ujCikkszam">
                        </label>
                        <label>
                            Leírás: <input type="text" name="ujLeiras" id="ujLeiras">
                        </label><br>
                        <label>
                            Infó: <input type="text" name="ujInfo" id="ujInfo">
                        </label><br>
                        <!-- Mértékegység kiválasztása legördülő listával az adatbázisból-->
                        <label>
                            Mértékegység: 
                            <select name="ujMertekegyseg" id="ujMertekegyseg">
                                {% for item in mertekegysegek %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}                                
                            </select>                            
                        </label>
                        <label>
                            Alkatrészcsoport: 
                            <select name="ujAlkatreszCsoport" id="ujAlkatreszCsoport">
                                {% for item in alkatreszcsoportok %}
                                    <option value="{{item}}">{{item}}</option>
                                {% endfor %}                                
                            </select>
                        </label>
                        <label>
                            Készlet: <input type="number" name="ujKeszlet" id="ujKeszlet">
                        </label>
                        <label>
                            Listaár <input type="number" name="ujListaar" id="ujListaar">     
                        </label><br>
                        <input type="submit" value="Új Alkatrész">
                    </p>
                </label>
            </form>
    </section>
    <!--  Ez felesleges és nem célravezető
    <section>
        <h2>Alkatrész törlése cikkszám alapján:</h2>
        
        <form action= " {% url 'raktar:deleteAlkatreszByCikkszam' %} " method="post">
            {% csrf_token %}
            <label>
                <input type="text" name="alkatreszCikkszam" id="alkatreszCikkszam">
                <input type="submit" value="Törlés">
            </label>
        </form>
    </section>  -->
    <section>
    <h3>Alkatrészek: </h3>
    <table>
        <tr>
           <th>Cikkszám</th>
           <th>Leírás</th>
           <th>Info</th>
           <th>Mértékegység</th>
           <th>Csoport</th>
           <th>Készlet</th>
           <th>Listaár</th>
           <th>Törlés</th>
           <th>Szerkesztés</th>
        </tr>
        {% for i in alkatreszek%}
        <tr>
            <td>{{i.cikkszam}}</td>
            <td>{{i.leiras}}</td>
            <td>{{i.info}}</td>
            <td>{{i.mertekegyseg}}</td>
            <td>{{i.alkatreszcsoport}}</td>
            <td>{{i.keszlet}}</td>
            <td>{{i.listaar}}</td>            
            <!-- Elegánsabb megoldás egy mini ürlap !-->
            <td>
                <form method="post" action="{% url 'raktar:deleteAlkatreszById' i.id %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Törlés</button>
                </form>
            </td>
            <!-- Szerkesztés gomb ?-->
            <td>
                <a href="{% url 'raktar:editAlkatreszById' i.id %}" class="btn btn-primary btn-sm">
                Szerkesztés</a>
            </td>

        </tr>
        {% endfor %}
    </table>
    </section>
{% endblock %}