
{% extends 'base.html' %}

{% block title %}Bevételi bizonylatok{% endblock %}

{% block content %}
<section>
    <form action="{% url 'raktar:addBebizonylat' %}" method="post">
        {% csrf_token %}
        <p>Paraméterek:<br>
            <label>
                Beszállító: <!-- A SELECT itt is DATALIST elemre cserélve -->
                <input list="beszallitok" name="ujSzallito" id="ujSzallito">
                <datalist id="beszallitok">
                    {% for item in beszallitok %}
                    <option value="{{ item.beszallito }}">{{ item.beszallito }}</option>
                    {% endfor %}
                </datalist>
            </label><br>

            <label>
                Számlaszám: <input type="text" name="ujSzamlaszam" id="ujSzamlaszam">
            </label><br>
            <label>
                Szállítólevél száma: <input type="text" name="ujSzallitolevelszam" id="ujSzallitolevelszam">
            </label><br>
            <label>
                Dátum: <input type="date" name="ujDatum" id="ujDatum">
            </label><br>
            <input type="submit" value="Új Bevételi bizonylat">
        </p>
    </form>
</section>

<section>
    <h3>Bevételi Bizonylatok: </h3>
    <table border="1">
        <tr>
            <th>id</th>
            <th>gen_id</th>
            <th>szállító</th>
            <th>bizonylattipus</th>
            <th>számlaszám</th>
            <th>szállítólevél szám</th>
            <th>dátum</th>
            <th>lezárt</th>
            <th>törlés</th>
        </tr>
        {% for i in bebizonylatok %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.genbizid }}</td>
            <td>{{ i.szallito }}</td>
            <td>{{ i.bizonylattipus }}</td>
            <td>{{ i.szamlaszam }}</td>
            <td>{{ i.szallitolevelszam }}</td>
            <td>{{ i.datum }}</td>
            <td>{{ i.lezart }}</td>
            <td>
                <form action="{% url 'raktar:deleteBebizonylat' i.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Törlés</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
