{% extends 'base.html' %}

{% block title %}Beszállítók karbantartása{% endblock %}

{% block content %}
    <div class="container">
        <header><h2>Beszállítókat karbantartó ürlap fejléce</h2></header>
        <section>
            <h2>Beszállító felvitele:</h2>
            <form action=" {% url 'raktar:addBeszallito' %} " method="post">
                {% csrf_token %}
                <label>
                    <p>Beszállító neve:
                        <input type="text" name="ujBeszallito" id="ujBeszallito">
                        <input type="submit" value="Hozzáad">

                    </p>
                </label>
            </form>
        </section>
        <section>
            <!-- Rendszámok listája az adatbázisból -->
            <h2>Beszaállítók listája:</h2>
            <table>
                <th>
                    <td>Id</td>
                    <td>Beszállító</td>
                    <td>Lezárt</td>
                </th>
                {% for i in beszallitok %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.beszallito}}</td>
                    <td>{{i.lezart}}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}