

<!-- 78.sor <td><a href="{% url 'raktar:deleteBizonylatById' i.id %}">Törlés</a></td> -->

<!-- 81.sor <form method="post" action="{% url 'raktar:deleteBizonylatById' i.id %}" style="display:inline;"></form> -->
                        <label >
                            <!-- Rendszámok kiválasztása legördülő listával az adatbázisból-->
                            Rendszám : 
                            <select name="ujRendszam" id="ujRendszam">
                                {% for item in rendszamok %}
                                <option value="{{item}}">{{item}}</option>
                                {% endfor %}
                            </select>                            
                        </label><br>