{% extends 'base.html' %}

{% block title %}Kivételi bizonylatok{% endblock %}

{% block content %}
<section>
    <form action="{% url 'raktar:addKivbizonylat' %}" method="post">
        {% csrf_token %}
        <p>Paraméterek:<br>
            <label>
                Rendszám: <!-- A SELECT lecserélve DATALIST-re a könnyebb keresés érdekében  -->
                <input list="rendszamok" name="ujRendszam" id="ujRendszam">
                <datalist id="rendszamok">
                    {% for item in rendszamok %}
                    <option value="{{ item.rendszam }}">
                    {% endfor %}
                </datalist>
            </label>
            <label>
                Dátum: <input type="date" name="ujDatum" id="ujDatum">
            </label>
            <input type="submit" value="Új Kivételi bizonylat">
        </p>
    </form>
</section>

<section>
    <h3>Kivételi Bizonylatok: </h3>
    <table border="1">
        <tr>
            <th>id</th>
            <th>gen_id</th>
            <th>rendszám</th>
            <th>bizonylattipus</th>            
            <th>dátum</th>
            <th>lezárt</th>
            <th>törlés</th>
        </tr>
        {% for i in kivbizonylatok %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.genbizid }}</td>
            <td>{{ i.rendszam }}</td>
            <td>{{ i.bizonylattipus }}</td>            
            <td>{{ i.datum }}</td>
            <td>{{ i.lezart }}</td>
            <td>
                <form action="{% url 'raktar:deleteKivbizonylat' i.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Törlés</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
