{% extends 'base.html' %}

{% block title %}Mértékegységek{% endblock %}

{% block content %}
    <div class="container">        
        <section>
            <h3>Mértékegység hozzáadás</h3>
            <form action=" {% url 'raktar:addMertekegyseg' %} " method="post">
                {% csrf_token %}
                <label>
                    <p>Mértékegység:
                        <input type="text" name="ujMertekegyseg" id="ujMertekegyseg">
                        <input type="submit" value="Hozzáad">

                    </p>
                </label>
            </form>
        </section>
        <section>
            <h3>Mértékegységek az adatbázisból</h3>
            <table>
            <tr>
                <th>Id</th>
                <th>Csoport</th>
                <th>Törlés</th>

            {% for i in mertekegysegek %}
            </tr>
                <td>{{i.id}}</td>
                <td>{{i.mertegys}}</td>               
                <td>  <!-- Elegáns megoldás egy mini ürlappal !-->
                    <form method="post" action="{% url 'raktar:deleteMertekegysegById' i.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Törlés</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </table>
        </section>        
    </div>
{% endblock %}
