{% extends 'base.html' %}

{% block title %}Mértékegységek{% endblock %}

{% block content %}
    <div class="container">        
        <section>
            <h2>Mértékegység hozzáadás</h2>
            <form action=" {% url 'raktar:addMertekegyseg' %} " method="post">
                {% csrf_token %}
                <label>
                    <p>Mértékegység:
                        <input type="text" name="ujMertekegyseg" id="ujMertekegyseg">
                        <input type="submit" value="Hozzáad">

                    </p>
                </label>
            </form>
        </section>
        <section>
            <h2>Mértékegységek az adatbázisból</h2>
            <table>
            <tr>
                <th>Id:</th>
                <th>csoport:</th>
            {% for i in mertekegysegek %}
            </tr>
                <td>{{i.id}}</td>
                <td>{{i.mertegys}}</td>
            </tr>
            {% endfor %}
            </table>
        </section>        
    </div>
{% endblock %}
