{% extends 'base.html' %}

{% block title %}Rendszámok karbantartása{% endblock %}

{% block content %}
    <div class="container">        
        <section>
            <h2>Rendszám felvitele:</h2>
            <form action=" {% url 'raktar:addRendszam' %} " method="post">
                {% csrf_token %}
                <label>
                    <p>Forgalmi rendszám: <input type="text" name="ujRendszam" id="ujRendszam"></p>
                </label>
                <label>
                    <p>Tulajdonos<input type="text" name="ujTulajdonos" id="ujTulajdonos"></p>
                </label>
                <label>
                    <p><input type="submit" value="Hozzáad"></p>
                </label>
            </form>
        </section>
        <section>
            <!-- Rendszámok listája az adatbázisból -->
            <h2>Rendszámok listája:</h2>
            <table>
                <th>
                    <td>Rendszám</td>
                    <td>Tulajdonos</td>
                    <td>Lezárt</td>
                </th>
                {% for rendszam in rendszamok %}
                <tr>
                    <td>{{rendszam.rendszam}}</td>
                    <td>{{rendszam.tulajdonos}}</td>
                    <td>{{rendszam.lezart}}</td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}