{% extends 'base.html' %}

{% block title %}Rendszámok karbantartása{% endblock %}

{% block content %}
    <div class="container">        
        <section>
            <h3>Rendszám felvitele:</h3>
            <form action=" {% url 'raktar:addRendszam' %} " method="post">
                {% csrf_token %}
                <label>
                    <p>Forgalmi rendszám: <input type="text" name="ujRendszam" id="ujRendszam"></p>
                </label>
                <label>
                    <p>Tulajdonos<input type="text" name="ujTulajdonos" id="ujTulajdonos"></p>
                </label>
                <label>
                    <p><input type="submit" value="Hozzáad"></p>
                </label>
            </form>
        </section>
        <section>
            <!-- Rendszámok listája az adatbázisból -->
            <h3>Rendszámok listája:</h3>
            <table>
                <tr>
                    <th>Rendszám</th>
                    <th>Tulajdonos</th>
                    <th>Lezárt</th>
                    <th>Töröl</th>
                </tr>
                {% for rendszam in rendszamok %}
                <tr>
                    <td>{{rendszam.rendszam}}</td>
                    <td>{{rendszam.tulajdonos}}</td>
                    <td>{{rendszam.lezart}}</td>
                    <td>  <!-- Elegáns megoldás egy mini ürlappal !-->
                    <form method="post" action="{% url 'raktar:deleteRendszamById' rendszam.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Törlés</button>
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </div>
{% endblock %}